{%  extends 'base.html'%}
{% load static %}
{% block content %}
<!-- header tugadi -->
            <br>
        
            
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area commun_bread">
                <div class="container">   
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <h3>Kabinentim</h3>
                                <ul>
                                    <li><a href="index.html">asosiy</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>kabinentim</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
            <!--breadcrumbs area end-->
            
           <!--wishlist area start -->
            <div class="wishlist_area">
                <div class="container">   
                    <form action="#"> 
                        <div class="row">
                            <div class="col-12">
                                <div class="table_desc wishlist">
                                    <div class="cart_page table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product_remove">O'chrish</th>
                                                    <th class="product_thumb">Rasim</th>
                                                    <th class="product_name">Maxsulot</th>
                                                    <th class="product-price">Narxi</th>
                                                    <th class="product_quantity">Maxsulot Holati</th>
                                                    <th class="product_total">Savatga Qo'shish</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                   <td class="product_remove"><a href="#">X</a></td>
                                                    <td class="product_thumb"><a href="#"><img src="../static/assets/img/cart/cart6.jpg" alt=""></a></td>
                                                    <td class="product_name"><a href="#">Handbag fringilla</a></td>
                                                    <td class="product-price">£65.00</td>
                                                    <td class="product_quantity">In Stock</td>
                                                    <td class="product_total"><a href="#">Add To Cart</a></td>


                                                </tr>

                                                <tr>
                                                   <td class="product_remove"><a href="#">X</a></td>
                                                    <td class="product_thumb"><a href="#"><img src="../static/assets/img/cart/cart7.jpg" alt=""></a></td>
                                                    <td class="product_name"><a href="#">Handbags justo</a></td>
                                                    <td class="product-price">£90.00</td>
                                                    <td class="product_quantity">In Stock</td>
                                                    <td class="product_total"><a href="#">Add To Cart</a></td>


                                                </tr>
                                                <tr>
                                                   <td class="product_remove"><a href="#">X</a></td>
                                                    <td class="product_thumb"><a href="#"><img src="../static/assets/img/cart/cart8.jpg" alt=""></a></td>
                                                    <td class="product_name"><a href="#">Handbag elit</a></td>
                                                    <td class="product-price">£80.00</td>
                                                    <td class="product_quantity">In Stock</td>
                                                    <td class="product_total"><a href="#">Add To Cart</a></td>


                                                </tr>

                                            </tbody>
                                        </table>   
                                    </div>  

                                </div>
                             </div>
                         </div>

                    </form> 
          
                    
                </div>
            </div>
             <!--wishlist area end -->
             
<br><br><br><br>            
     {% endblock content %}